@model List<CadastroModel>
@{
    ViewData["Title"] = "Cadastro de Animais";
}

<div class="text-center">
    <h1 class="display-4">Pets Cadastrados</h1>
    <p>Adote os</p>
    
</div>

<div class="text-right">
    <!--Botão de adicionar-->
    <a class="btn btn-success" role="button" asp-controller="Cadastro" asp-action="Criar">Adicionar no Pet</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Espécie</th>
      <th scope="col">Sexo</th>
    </tr>
  </thead>
  <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (CadastroModel cadastro in Model)
            {
                 <tr>
                    <th scope="row">@cadastro.Idanimal</th>
                    <td>@cadastro.Nome</td>
                    <td>@cadastro.Especie</td>
                    <td>@cadastro.Sexo</td>
                <td>
          <a role="button" class="btn btn-primary" asp-route-idanimal="@cadastro.Idanimal" asp-controller="Cadastro" asp-action="Editar">Editar</a> 
          <a role="button" class="btn btn-danger" asp-route-idanimal="@cadastro.Idanimal" asp-controller="Cadastro" asp-action="ApagarConfirmacao">Apagar</a>
                </td>
                </tr>
                
            }
        }

  </tbody>
</table>