@model IEnumerable<Projeto_Adote_Pet.Models.PetModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2><img src="~/images/image-cao-gato.png" alt="Pets" width=35px>Pets Cadastrados</h2>
    
    <!--Restrige cadastro de Pet-->
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="btn btn-outline-info"><img src="~/images/image-adicao.png" width="35" />Cadastrar Pet</a>
    }
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pstatus)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pstatus)
            </td>
            
            <td>
                    <!--Restrige Editar e Delete-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Idanimal">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Idanimal">Delete</a>
                    }
                
                <a asp-action="Details" asp-route-id="@item.Idanimal">Detalhes</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
