@model IEnumerable<Projeto_Adote_Pet.Models.PetModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>Pets Cadastrados</h2>
    
    <!--Restrige cadastro de Pet-->
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="btn btn-outline-info"><img src="~/images/image-adicao.png" width="35" />Cadastrar Pet</a>       
    }   
</div>

<br />

<!--Caixa de busca-->
    <form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por Raça ou cidade: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <!--<input type="submit" value="Pesquisar" class="btn btn-success" />-->
            <input type="image" src="~/images/icone-buscar.png" width="50" value="Pesquisar" class="btn btn-success" />
            <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EspecieSortParm"]">@Html.DisplayNameFor(model => model.Especie)</a>
            </th>
            <th>                
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SexoSortParm"]">@Html.DisplayNameFor(model => model.Sexo)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
@*@*            <th>
                @Html.DisplayNameFor(model => model.Porte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>*@
            
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            
@*            <th>
                @Html.DisplayNameFor(model => model.Pstatus)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (@item.Foto != null || @item.Foto == "")                
                {
                    <img src="~/images/@item.Foto" class="img-thumbnail" height="200" width="200" asp-append-version="true" />
                    @item.Pstatus
                }
                else
                {
                    <img src="~/images/image-cao-gato.png" class="img-thumbnail" height="200" width="200" asp-append-version="true" />
                    @item.Pstatus
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Porte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>*@
            
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            
@*            <td>
                @Html.DisplayFor(modelItem => item.Pstatus)
            </td>*@
            
            <td>
                    <!--Restrige Editar e Delete-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Idanimal">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Idanimal">Delete</a>
                    }
                
                <a asp-action="Details" asp-route-id="@item.Idanimal">Detalhes</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
