@model Projeto_Adote_Pet.Models.Usuario

@{
    ViewData["Title"] = "Details";
}
<br />
<h2>Detalhes da sua conta</h2>
<hr />

<div>     
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-outline-info" asp-action="Edit"><img src="~/images/icone-editar.png"width="15" asp-route-id="@Model.Cpf">  Editar</a>                
</div>

<p> </p>

<div>
    <a asp-action="Index"><img src="~/images/icone-voltar.png" alt="Voltar" width="25"></> </a>
</div>
