@model Projeto_Adote_Pet.Models.Usuario

@{
    ViewData["Title"] = "IndexMeusDados";
}

<div class="text-center">
    <h2 class="display-5">Meus dados</h2>       
</div>


<hr />
<div class="row">
    <div class="col-md-4">
    <p><b>Nome Completo:</b> @Model.Nome</p>
    <p><b>CPF:</b> @Model.Cpf</p>
    <p><b>E-mail:</b>@Model.Email</p>
    <p><b>Telefone:</b>@Model.Telefone</p>
    <p><b>Cidade:</b>@Model.Cidade</p>
    <p><b>Estado:</b>@Model.Estado</p>
    <p><b>Perfil:</b>@Model.Perfil</p>

    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Cpf">Editar</a> |
    <a class="btn btn-outline-secundary"asp-action="Details" asp-route-id="@Model.Cpf">Detalhes</a> |
    <a class="btn btn-outline-danger"asp-action="Delete" asp-route-id="@Model.Cpf">Deletar</a>
</div>
</div>
                
