@model IEnumerable<Projeto_Adote_Pet.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-5">Usuário</h1>       
</div>


<div class="text-right">
    <!--Botão de adicionar-->
    <a class="btn btn-primary" role="button" asp-action="Create">Criar</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cpf">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Cpf">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Cpf">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
